 header {
  background-color: #0e0a3f;
  color: white;
  padding: 1rem;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

    .contact-form {
      max-width: 600px;
      margin: 40px auto;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 10px;
      color: #0e0a3f;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    input, textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    button {
      padding: 10px 20px;
      background-color: #0e0a3f;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #555;
    }
    p{
        color: #0e0a3f;

    }