  header {
  background-color: #0e0a3f;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

    .experience-container {
      max-width: 800px;
      margin: 30px auto;
      padding: 20px;
      color: #0e0a3f;
    }

    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    .section {
      margin-bottom: 20px;
    }

    ul {
      list-style-type: square;
      padding-left: 20px;
    }

    li {
      margin-bottom: 8px;
    }
    p{
        color: #0e0a3f;

    }